
html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    width: 800px;
}

table>thead>tr>th,
table>tbody>tr>td {
    border: 1px solid black; padding: 5px;
}